.logo{
width: 75px;
height: auto;
}
.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid #d9d9e4;
    padding: 7px;
}
.nav-items>ul{
display: flex;
}
.nav-items>ul>li
{
    padding: 7px;
    list-style-type: none;
}

.card{
    width:200px ;
    border: 1px solid  #d9d9e4;
    padding: 7px;
    margin: 7px;
}
.card>img{
    width: 100%;
}

.restaurantList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}