#container{
    background-color: rgb(25, 25, 67);
}
.title{
    background-color: rgb(25, 25, 67);
}
.logo{
    height: 60px;
    width: 137px;
    background-size: 137px 80px;
    background-image: url(https://scontent.fhyd10-1.fna.fbcdn.net/v/t1.6435-9/36686079_244839966113907_8387585561560350720_n.jpg?stp=cp0_dst-jpg_e15_q65_s320x320&_nc_cat=105&ccb=1-7&_nc_sid=e007fa&_nc_ohc=ECO6ECdj7I0AX-9iC1D&_nc_ht=scontent.fhyd10-1.fna&oh=00_AfBLp9ilTunF6BIIRUQ0HGTKgpN0fSL3g0Wofp04wp_xzQ&oe=63F0EC62);
}
.user{
    
    height: 52px;
    width: 70px;
    background-image: url(https://icons.veryicon.com/png/o/internet--web/prejudice/user-128.png);
    background-size: 70px 52px;
}
.headerDiv{
    display: flex;
    justify-content: space-between;
    border: 1px solid;
}
.searchBox{
    display: flex;
    align-items: center;
    height: 60px;
}